*:focus {
  outline: none !important;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.nav-drop {
  display: none;
}

#nav-link:hover .nav-drop {
  display: block !important;
}

header {
  background-image: url("../images/mainBG.webp");
}

header h1 {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.85);
}

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rect-16-9 {
  position: relative !important;
  padding-top: 56.25% !important;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//Carousel Arrows

.slick-prev,
.slick-next {
  position: absolute;
  top: 25%;
  z-index: 30;
  background-color: white;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 0;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.slick-prev:focus, .slick-next:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.slick-prev {
  left: 0 !important;
  transform: translateY(-50%) translateX(-50%);
}

.slick-next {
  right: 0 !important;
  transform: translateY(-50%) translateX(50%);
}

.slick-prev::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.75rem;
  width: 0.75rem;
  border-top: 4px solid #777777;
  border-left: 4px solid #777777;
  transform: translate(-40%, -50%) rotate(-45deg);
}
.slick-next::before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.75rem;
  width: 0.75rem;
  border-top: 4px solid #777777;
  border-right: 4px solid #777777;
  transform: translate(-60%, -50%) rotate(45deg);
}

.login-options {
  background-image: url('../images/login-social.jpg');
}